/*Raiz y documento completo*/

:root{
    --principal: #210031;
    --secondary: #310029;
    --third: #310900;
    --fourth: #293100;
    --light: #747076;
    --bright: #C8BFCB;

}
* {
    border-radius: 0;
}

/* Secciones, backgound y divisiones */

img#bg-sing{
    position: fixed;
    bottom: 0;
    left: 15%;
    max-width: 100%;
    max-height: 100%;
    z-index: 0

}

.section{
    background-color: var(--principal);
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    min-width: 100%;
}

.cataloge{
    background-color: var(--secondary);
}


/*Elementos de la presentación*/

div#meetCard{
    background-color: var(--bright);
    max-width: 600px;
    border-radius: 0;
}

div#meetCard *{
    border-radius: 0;
}

