/*
#bea7c9
*/
@font-face {
    font-family: 'OrelegaOne';
    src:  url('Multimedia/fuentes/OrelegaOne-Regular.ttf') format('truetype');
  }


html{
    font-family: 'OrelegaOne';
    background-color: #a02235;
    font-size: 62.5%
}

div#businessCard{

    padding: 2rem;
    margin: 2rem;

    border-radius: 50px;
    background: linear-gradient(145deg, #901f30, #ab2439);
    box-shadow:  20px 20px 60px #881d2d, -20px -20px 60px #b8273d;

}



p#name{
    font-size: 3rem;
}

p.degrees{
    font-size: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    div#businessCard{
        position: fixed;
        width: 30%;
        left: 35%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
